{erl_opts, [debug_info, warnings_as_errors,
            {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{dir, "doc"}]}.

{deps,
 [
  {lager, "2.1.1"},
  {jsx, "1.4.5"},
  jsxd,
  libsnarl,
  oauth2_erlang,
  {cowboy, "1.0.2"},
  erlydtl
 ]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/project-fifo/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [{post, [{compile, {erlydtl, compile}}]}]}.

{overrides,
 [{override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.

{profiles,
 [
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}}]}]}
]}.


{dialyzer, [{warnings, [underspecs]}]}.
