{erl_opts, [{i, "deps"},
            debug_info,
            {parse_transform, lager_transform}, warnings_as_errors]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{dir, "doc"}]}.

{deps,
 [
  {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {jsx, ".*", {git, "http://github.com/talentdeficit/jsx.git", {tag, "v1.4.4"}}},
  {jsxd, ".*", {git, "https://github.com/Licenser/jsxd.git", {tag, "0.1.9"}}},
  {libsnarl, "0.3.*", {git, "http://github.com/project-fifo/libsnarl.git", {tag, "0.3.19"}}},
  {oauth2, "0.6.*", {git, "https://github.com/project-fifo/oauth2.git", {ref, "7f88b8af3b09cad4eb83678cb2bdaed00fce6a76"}}},
%%   {oauth2, "0.6.*", {git, "https://github.com/project-fifo/oauth2.git", {tag, "0.6.0"}}},
  {cowboy, "1.*", {git, "https://github.com/extend/cowboy.git", {tag, "1.0.1"}}},
%%  {erlydtl, ".*", {git, "https://github.com/project-fifo/erlydtl.git", {tag, "0.10.2"}}}
  {merl, ".*", {git, "https://github.com/Licenser/merl.git", {branch, "master"}}},
  {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}}
 ]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/project-fifo/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [{post, [{compile, {erlydtl, compile}}]}]}.
